<!DOCTYPE html>
<html>
    <head>
        <title>EXEMPLO FOR</title>
        <meta charset="utf-8">
        <link href="estilo.css" rel="stylesheet">
    </head>

    <body>
        <h1>exemplo de for:</h1>
        <% for (var i = 1; i <= valor;  i++ ) { %>
            <div>
                <%= i %>
            </div>
         <% } %>
    </body>
</html>