#rodape {
    border: 2px solid;
    text-align: center;
    color: darkgreen;
    background-color: bisque;
    top: 0px;
    left: 130px;
    padding: 40px;
    
}

#rodapezinho {
    border: 0px solid;
    text-align: center;
    color: purple;
    background-color: lightblue;
    top: 0px;
    left: 130px;
    padding: 10px;
    
}


#formato{
    text-align: center;
}

body{
    background-color: lightgray;
}

p {
    color: blueviolet;
}

#tabela{
    color: red;
    height: 100px;
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    justify-content: center;
}

